<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>
<body>
    <h1>Weather station</h1>
    <form>
        <input>
        <button>Search</button>
    </form>

    <p id = "messageOne"></p>
    <p id = "messageTwo"></p>
</body>
<script>

    const weatherForm = document.querySelector('form')
    const search = document.querySelector('input')
    const messageOne = document.querySelector('#messageOne')
    const messageTwo = document.querySelector('#messageTwo')
    messageOne.textContent = 'Loading ...'
    messageTwo.textContent = ''

    weatherForm.addEventListener('submit' , (e) => {
        e.preventDefault()
        const location = search.value
        fetch('http://localhost:3000/weather?address=' + location).then((response) =>{
        response.json().then((data) =>{
            if(data.error){
                messageOne.textContent = data.error
            }else{
                messageOne.textContent = data.location
                messageTwo.textContent = data.forecast.description
            }
        })
    })
 
    }) 


</script>
</html>

