<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>

    <div class="area">

        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <div class="row">
            {{!-- Design --}}
            <div class="col-lg-4" style="background-color: #84a6d6; height : 100vh">

            </div>

            {{!-- Weather desc --}}
            <div class="col-lg-8 col-md-12">

                {{!-- Search bar starts--}}
                <div class="row mt-3 p-3">
                    <form class="card card-sm" style="opacity: 1">
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <!--end of col-->
                            <div class="col">
                                <input class="form-control form-control-lg form-control-borderless" type="search"
                                    placeholder="Enter Location!">
                            </div>
                            <!--end of col-->
                            <div class="col-auto align-items-right">
                                <button class="btn btn-lg" type="submit"
                                    style="background-color: #f7f6cf;">Search</button>
                            </div>
                            <!--end of col-->
                        </div>
                    </form>
                </div>
                {{!-- Search-bar-ends --}}

                {{!-- Container-1-starts --}}
                <div class="container">

                    {{!-- Row-1-begins --}}
                    <div class="row align-items-center">
                        
                        {{!-- Card01 - Begins --}}
                        <div class="col-lg-6 col-md-12 col-sm-12" style="column-gap: 20;">
                            <div class="container">
                                <div class="card">
                                    <div class="contentBx">
                                        <h2>UV Index</h2>
                                        <div class="size">
                                            <h3>1.4</h3>
                                        </div>
                                        <div class="color">
                                            <p>Description </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- Card-1ends --}}

                        {{!-- Card-2-begins --}}
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="container">
                                <div class="card">
                                    <div class="contentBx">
                                        <h2>UV Index</h2>
                                        <div class="size">
                                            <h3>1.4</h3>
                                        </div>
                                        <div class="color">
                                            <p>Description </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- Card-2-ends --}}

                    </div>
                    {{!-- Row-1-ends --}}

                    {{!-- Row-2-begins --}}
                    <div class="row align-items-center">
                        {{!-- Card01 - Begins --}}
                        <div class="col-lg-6 col-md-12 col-sm-12" style="column-gap: 20;">
                            <div class="container">
                                <div class="card">
                                    <div class="contentBx">
                                        <h2>UV Index</h2>
                                        <div class="size">
                                            <h3>1.4</h3>
                                        </div>
                                        <div class="color">
                                            <p>Description </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- Card-1ends --}}

                        {{!-- Card-2-begins --}}
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="container">
                                <div class="card">
                                    <div class="contentBx">
                                        <h2>UV Index</h2>
                                        <div class="size">
                                            <h3>1.4</h3>
                                        </div>
                                        <div class="color">
                                            <p>Description </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- Card-2-ends --}}
                    </div>
                    {{!-- Row-2-ends --}}

                </div>
                {{!-- Container-1-ends --}}

                {{!-- Animations ends --}}
</body>
<script src="/js/index.js">



</script>

</html>